<!DOCTYPE html>
<html lang="en">

<head>
    <title>TapSearch</title>
</head>

<body>
<div >
    <div role="alert">
        All data removed!
    </div>
    <hr><a href="/home/index">
        <button >Back to Homepage</button>
    </a>
</div>
</body>

</html>