<!DOCTYPE html>
<html lang="en">

<head>
    <title>Search api</title>
</head>

<body>

<div >
    
    <p > TapSearch api</p>
    <div>
        <form action="/home/index" method="post">
            <div >
                <textarea id="InputParagraphs" name="paragraphs" rows="20" required></textarea>
            </div>
            <button  type="submit">Submit</button>
            <button type="reset">Reset</button>
        </form>
    </div>
    <br>
    <div >
        
        <hr><a href="/home/search">
            <button >Search</button></a>
            
            <a href="/home/clear">
            <button type="reset">Clear</button>
        </a>
    </div>
</div>

</body>

</html>
